/* Univerrsal Stylers*/

html {
  font-family: "Roboto", sans-serif;
  color: #555555;
  size: 16px;
  max-width: 1024px;
  margin: 0 auto;
}



body {
  margin:0

}
.content {
  display: flex;
  width: 100%;
  height: auto;
}

.content img, video {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    transform: scale(1, .9);
}

h1{
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  margin: 0;
  font-weight: 500;
}

h5 {
  font-weight: 300;
  font-size: .69rem;
  margin: 8px 0;
  line-height: 1.5em;
}

h6 {
  margin: 0px;
  font-size: .675rem;
  font-weight: 400;
}

.title {
  padding: 32px 0;
  text-align: center;
}

.title h2{
  margin: 0;
}

.left{
  width: 60%;
  padding: 32px 24px;
}

.right {
  width: 40%;
  padding: 16px 0px 32px 0px;
}

.right-box {
  display: flex;
  padding: 16px;
  justify-content: flex-start;
  border-bottom: solid 1px #eeeeee;
}

.right-box:last-child {
  border-bottom: none;
}

.right-box:hover {
  background-color: #f0f0f0;
}


.right-box a {
  font-weight: 300;
  font-size: 11px;
  text-decoration: none;
  color: #00A2FF;
}

.right-box-image {
  width: 35%;
}

.right-box-text {
  width: 65%;
}

@media screen and (max-width: 700px) {

  .right-box-image {
    display: none;
  }
}


.right-box-image img {
  height: 100%;
  object-fit: cover;

}


.right-box-text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.image-booster img{
  image-resolution: 600dpi;
}



/* Header/Nav Bar */

header,  footer {
  display: fixed;
  width: 100%;
  height: 64px;
  align-items: center;
}

.header-content {
  display: flex;
  height: 64px;
  margin: 0px 24px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

#logo-section {
    display: inline-flex;
    align-items: center;
}

#logo-section a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: lighter;
}

#colmar {
    height: 32px;
}

#logo-section img {
  opacity: .9;
  width: 35px;

}



nav {
  align-items: flex-end;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: right;
}
nav li a {
  text-decoration: none;
  margin-left: 16px;
  color: #333333;
  font-weight: 300;
  padding: 0;
}


/* Learn Something New Every Day */
#banner-lsned {
  background-color: lightgrey;
  display: flex;
}


#banner-lsned .left img {
  max-width: 100%;
}

#banner-lsned .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#right-contents {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
}

#start-here {
  background-color: #555555;
  padding: 8px;
  width: 95%;
  max-width: 250px;
  display: flex;
  justify-content: center;
  margin: 8px 24px 42px 0;

}

#start-here a {
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: .8rem;
}

/* Banner Links */

#banner-links .left h5 {
  margin-bottom: 20px;
}

/* Start Learning Section  */

#start-learning {
  background-color: lightgrey;
  display: block;
}



#start-learning-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.start-learning-box {
  background-color: white;
  margin: 16px;
  width: 240px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.start-learning-box:hover {
  background-color: #dedede;
}

.sl-box-text {
  padding: 16px;
}

.sl-box-text h5 {
  margin-bottom: 0;
}


/* thesis exhibit section */

#thesis-exhibit {
  display: block;
}

#thesis-exhibit .title {
  padding-bottom: 0;
}

.everything-else {
  display: flex;
}

.everything-else .left, .everything-else .right{
  padding-bottom: 0
}

/* footer */

footer a {
  margin: 0px;
  font-size: .675rem;
  font-weight: 400;
}
